.wrapper {
  background: #000000;
  padding: 50px;
}

.tab {
  padding: 8px;
  border: none;
  background: #fff9f9;
  color: #0e0e0e;
}

.active {
  background: #c1bcbc;
  color: #030101;
}

.tab:focus {
  outline: 1px solid blue;
}

.content {
  margin-top: 10px;
  color: #fff;
}
